.service-card {
  position: relative;
}

.service-card:hover .icon-container div {
  height: 100%;
  transition: height 2s ease-in-out;
}

/* Custom styles for testimonials */
.testimonial-item {
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.testimonial-item:hover {
  transform: translateY(-5px);
}

.slick-prev:before,
.slick-next:before {
  color: #000; /* Arrow color */
}

.slick-dots li button:before {
  color: #000; /* Dots color */
}

.slick-dots li.slick-active button:before {
  color: #000; /* Active dot color */
}